{% extends 'base.html' %}
{% load static %}

    {% block title %}
    <title>Information sur le don</title>
    {% endblock %}

  {% block content%}
    <figure class="figure" >
        <img src="{% static 'image/5.jpg' %}" alt="" style="height: 500px ;width: 1579px">
    </figure>
    <main class="container ">
        <section class="row " >
            <main class="col-4 offset-4 " >
                <section class="d-flex justify-content-center mt-4 text-info h4 " style="background-color: #F5F5F5;">
                    COMMENT SE DÉROULE UN DON ?
                </section>
            </main>
        </section>
    </main> 

    <main class="container-fluid mt-5">
        <section class="row " >
            <article class="col-6  ">
                <main class="ms-3 ">
                   <p class="h3 d-flex justify-content-center " style="color: #DC143C;"> DON DE SANG :
                    LAISSEZ-VOUS GUIDER
                    </p>
                    <p class="h2 text-start">Le don de sang permet de prélever en même temps,
                        et en 10 minutes seulement, tous les composants
                       du sang : globules rouges, plasma et plaquettes,
                       qui sont séparés à la suite du prélèvement.
                       C’est le type de don le plus courant.
                    </p>
                    
                </main>
            </article>
            <article class="col-6  ">
                <figure class="d-flex justify-content-center">
                    <img src="{% static 'image/3.jpg' %}" alt="sang" class="img-fluid rounded img-thumbnail" style="height: 100% ;width: 70%">
                </figure>
            </article>
        </section>
    </main>


    <main class="container-fluid mt-5">
        <section class="row " >
            
            <article class="col-6  ">
                <figure class="d-flex justify-content-center">
                    <img src="{% static 'image/6.jpg' %}" alt="sang" class="img-fluid rounded img-thumbnail" style="height: 100% ;width: 70%">
                </figure>
            </article>

            <article class="col-6  ">
                <main class="ms-3 ">
                    <p class="h3 d-flex justify-content-center " style="color: #DC143C;"> Votre préparation J-0
                    </p>
                    <p class="border-bottom border-3 h3">
                    Vous vous sentez en forme ? Parfait, c’est donc le moment idéal! 
                    </p>
                    <p class="border-bottom border-3 h3">
                        Prenez un bon petit-déjeuner ou un déjeuner équilibré avant de venir.  
                    </p>
                    <p class="border-bottom border-3 h3">
                        Hydratez-vous : buvez de l’eau ou des jus de fruits avant, pendant et après le don. 
                        Évitez les boissons alcoolisées durant les heures qui précèdent le don.  
                    </p>
                    
                </main>
            </article>
        </section>
    </main>

    <main class="container-fluid mt-5">
        <section class="row " >

            <article class="col-6  ">
                <main class="ms-3 ">
                    <p class="h3 d-flex justify-content-center " style="color: #DC143C;"> 
                        Un accueil personnalisé 8 à 10 min
                    </p>
                    <p class="h2 text-start">
                        À votre arrivée, notre équipe vous accueille et vérifie votre identité. 
                        Le questionnaire préalable au don vous est alors remis. 
                        Il est à compléter avant votre entretien médical.
                    </p>
                    
                </main>
            </article>

            <article class="col-6  ">
                <figure class="d-flex justify-content-center">
                    <img src="{% static 'image/1.jpg' %}" alt="sang" class="img-fluid rounded img-thumbnail" style="height: 100% ;width: 70%">
                </figure>
            </article>
        </section>
    </main>

    <main class="container-fluid mt-5">
        <section class="row " >
            
            <article class="col-6  ">
                <figure class="d-flex justify-content-center">
                    <img src="{% static 'image/8.jpg' %}" alt="sang" class="img-fluid rounded img-thumbnail" style="height: 100% ;width: 70%">
                </figure>
            </article>

            <article class="col-6  ">
                <main class="ms-3 ">
                    <p class="h3 d-flex justify-content-center " style="color: #DC143C;"> 
                        Votre entretien médical 5 à 6 min
                    </p>
                    <p class="h4 text-start">
                        Il s’agit d’un moment d’échange privilégié entre un médecin ou un.e infirmier.e et vous. 
                        Cet entretien confidentiel nous permet de garantir votre sécurité et celle des personnes
                         qui recevront les produits sanguins issus de votre don.
                    </p>
                    <p class="h4 text-start mt-4">
                        S’il y a des contre-indications à votre don, la discussion continue ! 
                        Notre équipe vous explique pourquoi ce n’est pas possible cette fois. 
                        Rassurez-vous, dans 90% des cas, vous pourrez revenir donner prochainement.
                    </p>
                    
                </main>
            </article>
        </section>
    </main>

    <main class="container-fluid mt-5">
        <section class="row " >

            <article class="col-6  ">
                <main class="ms-3 ">
                    <p class="h3 d-flex justify-content-center " style="color: #DC143C;"> 
                        Un prélèvement rapide et adapté 8 à 10 min
                    </p>
                    <p class="h3 text-start">
                        Le don de sang est réalisé en position allongée et sous surveillance. Le volume prélevé est adapté à chaque personne :
                         il varie donc entre 420 et 480 ml, en fonction du poids et de la taille du donneur.
                    </p>
                    
                </main>
            </article>

            <article class="col-6  ">
                <figure class="d-flex justify-content-center">
                    <img src="{% static 'image/9.jpg' %}" alt="sang" class="img-fluid rounded img-thumbnail" style="height: 100% ;width: 70%">
                </figure>
            </article>
        </section>
    </main>

    <main class="container-fluid mt-5">
        <section class="row " >
            
            <article class="col-6  ">
                <figure class="d-flex justify-content-center">
                    <img src="{% static 'image/10.jpg' %}" alt="sang" class="img-fluid rounded img-thumbnail" style="height: 100% ;width: 70%">
                </figure>
            </article>

            <article class="col-6  ">
                <main class="ms-3 ">
                    <p class="h3 d-flex justify-content-center " style="color: #DC143C;"> 
                        Un moment convivial à la Pause A+ 20 min
                    </p>
                    <p class="h4 text-start">
                        Pour repartir du bon pied, prenez le temps d'apprécier 
                        notre collation en compagnie d'autres donneurs et bénévoles 
                        et de vous détendre sous l'oeil bienveillant de notre équipe médicale 
                    </p>
                    <p class="h4 text-start mt-4">
                        À noter : Bien que le volume sanguin se reconstitue rapidement après un prélèvement,
                         ne pratiquez pas d’effort physique intense dans les heures qui suivent le don.
                    </p>
                    
                </main>
            </article>
        </section>
    </main>


            <main class=" d-flex justify-content-center" >
                <section class="  mt-4 text-info h4 border border-danger rounded-pill mb-5 " style=" height: 200px ;width: 800px">
                    <p class="d-flex justify-content-center pt-3 px-3">Nous restons à votre écoute</p>
                    <p class="text-center pb-3 px-3 ">
                        Si jusqu‘à 15 jours après votre venue, vous ressentez de la fièvre ou tout autre signe d’infection,
                        contactez-nous sans attendre par téléphone. 
                        Ce suivi est important pour votre sécurité et celle du receveur.?
                    </p> 
                    
                </section>
            </main>

{% endblock %}