{% extends 'base.html' %}
{% load static %}

    {% block title %}
    <title>Test</title>
    {% endblock %}

{% block content%}

   
            <section class="text-center" style="margin-top: 100px;margin-bottom: 320px;">
                <p class="text-info h3 fw-bold">Super, d'après les informations indiquées, vous pouvez donner votre sang !</p>
                <p class="text-danger fw-bolder h5 mt-4">A noter : seul le personnel de santé peut confirmer votre aptitude au 
                    don sur place lors de l'entretien médical préalable au don.</p>
                <p class="text-info mt-3" >Pour prendre un rendez-vous , consultez la liste des lieux de don près de chez vous.</p>
            </section>
        

{% endblock %}